<div class="navbar w-full">
    <div class="mininav w-full text-sm font-light">
        <div class="md:py-1 bg-green-500/20  hidden sm:flex justify-around md:px-20 gap-5">
            <marquee behavior="" direction="" class="w-full"><p>All indian based books , 15 million titles - 7-day local delivery - trackable</p></marquee>
            <div class="  w-full gap-5 flex justify-end">
               <p *ngIf="!isAuth else logout" class="cursor-pointer underline" routerLink="/login"> login/register </p>
               <ng-template #logout>
                    <p (click)="logOut()" class="cursor-pointer underline" > logOut </p>
               </ng-template>
               <p class="cursor-pointer underline"> my account </p>
            </div>
        </div>
    </div>

    <div class="mainnav w-full  flex justify-around gap-2     px-2 md:px-10">
            <div class="logo flex w-full justify-center py-5">
                <h1 class="logo">
                    <span class="font-bold text-4xl text-red-600">Book</span>
                    <span class="font-medium text-2xl text-blue-600"> Store</span>
                </h1>
            </div>
            <div class="searchbar hidden md:flex w-full justify-center py-5 ">
                <app-searchbar></app-searchbar>
            </div>
            <div class="cart flex w-full justify-center py-5">
                <h1>mycart 0</h1>
            </div>
            <div class="toggle block  md:hidden py-5">
                x
            </div>
    </div>

    <div class="bg-black/10 py-1 hidden md:flex justify-center gap-32 items-center  capitalize text-sm font-thin ">
        <div class="gap-5 flex">
            <div class="hover:underline cursor-pointer ">my list</div>
            <div class="hover:underline cursor-pointer ">log out</div>
        </div>
        <div class="flex  gap-3">
            <div class="hover:underline cursor-pointer ">delvery-info</div>
            <div class="hover:underline cursor-pointer ">self-collection</div>
            <div class="hover:underline cursor-pointer ">faq</div>
            <div class="hover:underline cursor-pointer ">contact</div>
        </div>
    </div>
    <div class="navend flex flex-grow justify-center items-center bg-red-700/90">
            <h1 class="py-2 text-white">JULY 2023 - 20% OFF STOREWIDE - HERE IN INDIA</h1>
    </div>
</div>
